<p>Hi,</p>

<p>Please find attached to this email a copy of your submission for the following application:</p>

<p><strong><%= @submission.application.title %></strong></p>


<br/>

<p>Best regards,</p>

<p>The Quikapply Team</p>